*,*:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: normal;
  padding: 0;
  margin-bottom: 1rem;
}

#intro-design-h2 {
  margin-top: 5rem;
}

.white_background {
  background-color: white;
}

.menuToggle span {
  background-color: rgb(224, 224, 224);
}

.nav_mobile {
  background-color: #fff;
}

/*Intro========================*/

.container, .title-container {
  padding: 10px 25px;
}

.scroll-animation {
  display: block;
}

@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

/* Timeline Design by Rachel Wong */

  .timeline {
	   position: relative;
	   margin: 20px auto;
	   width:1000px;
	   padding:40px 0;
   }

   .timeline:before {
	   content:'';
	   position:absolute;
	   left:50%;
	   width:2px;
	   height:95%;
	   background-color:#eee;
   }

   .timeline ul {
	   margin:0;
   }

   .timeline ul li{
	   line-height:normal;
	   position:relative;
	   width:50%;
	   padding:20px 40px;
   }

   .timeline ul li:nth-child(odd){
	   text-align:right;
	   float:left;
	   clear:both;
   }

   .timeline ul li:nth-child(even){
	   text-align:left;
	   float:right;
	   clear:both;
   }

   .timeline ul li:before {
	   content:'';
	   position:absolute;
	   width:40px;
	   height:40px;
	   background-color:#f28c00;
	   border-radius:50%;
	   box-shadow: 0 0 0 6px rgba(242, 140, 0,0.4);
   }

   .timeline ul li:nth-child(even):before{
	   left:-18px;
   }

   .timeline ul li:nth-child(odd):before{
	   right:-22px;
   }

   .timeline ul li:nth-child(1):before{content:'1';}
   .timeline ul li:nth-child(2):before{content:'2';}
   .timeline ul li:nth-child(3):before{content:'3';}
   .timeline ul li:nth-child(4):before{content:'4';}
   .timeline ul li:nth-child(5):before{content:'5';}
   .timeline ul li:nth-child(6):before{content:'6';}
   .timeline ul li:nth-child(7):before{content:'7';}
   .timeline ul li:nth-child(8):before{content:'8';}


   .timeline ul li:before{
	   font-weight:900;
	   font-size:1.8em;
	   color:white;
	   text-align:center;
   }

   .content{
	   padding-bottom:10px;
   }

   .content h3{
	   font-weight:900;
	   color:#f28c00;
   }

   .content p{
	   margin-top:10px;
	   line-height:1.6em;
   }

   @media  (max-width: 1000px){
	  .timeline{
		  width:100%;
	}

	  .content h3{
		  font-size:1.75em;
	}
	  .content p {
		  font-size:1em;
	}
}
  @media  (max-width: 767px){
	  .timeline{
		  width:100%;
	    padding-bottom:0;
	}
	  .timeline:before{
		  left:30px;
	}
	  .timeline li:nth-child(even), .timeline li:nth-child(odd) {
		  width:100%;
	}
	  .content {
		  top:20px;
		  text-align:left;
		  padding-left:50px;
		  padding-bottom:50px;
	}
	  .timeline ul li:nth-child(odd):before, 	.timeline ul li:nth-child(even):before{
		  left:14px;
	}

	.timeline ul li:nth-child(odd) .next, .timeline ul li:nth-child(even) .next{
		 left:90px;
		 top:-30px;
		 right:inherit;
	}
}

/* Contact============ */

.contact {
  background-color: #F5f5F5;
  max-width: 100%;
  outline: 2px solid rgba(0, 0, 0, 0.2);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.contact h2 {
  background-color:#f5f5f5;
  font-size: 1.25rem;
  left: 50%;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.15em;
}

.contact p {
  text-align: center;
}

.footer-copy {
  margin: 1rem 2rem;
}

.footer-icons {
  float: right;
  padding-top: 25px;
  padding-right: 0;
  margin: 0 auto;
  width: 100%;
}

.fa {
  color: #3f3f3f;
  font-size: 1.4em !important;
  margin: 0 auto;
  width: 25%;
}


.footer-copy p {
  width: 100%;
}


/*Tablet====================*/

@media only screen and (min-width: 575px) {

  .container, .title-container {
    padding: 25px 75px;
  }

  #intro-design-h2 {
    margin-top: 7rem;
  }

  #navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  }

  #nav_about a, #nav_resume a, .nav_main li {
    color: #4c4c4c;
  }
}

@media screen and (min-width: 1024px) {

  .container {
    padding: 25px 275px;
  }

  .intro-text h1 {
    font-size: 5.5em;
  }

  p {
    margin-top: 10px;
  }

  section {
    margin-bottom: 1rem;
  }

  .footer-icons {
    display: block;
    text-align: center;
  }

  .fa {
    width: 50px;
  }

  .footer-copy p {
    padding-bottom: 25px;
  }

  .scroll-animation {
    display: flex;
  }

  .scroll-animation div {
    flex-grow: 1;
    opacity: 0;
  }

  .scroll-animation .animated {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
  }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 25px 300px;
  }

  .intro-text {
    padding: 4em;
  }

  #intro-design-h2, #import-design-h2 {
    margin: 50px 0 0 100px;
  }

}
