img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: normal;
}

.white_background {
  background-color: transparent;
}

.menuToggle span {
  background-color: #FFF;
}

/*Intro========================*/

.intro {
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
}

.intro-text h1 {
  color: #FFF;
  font-family: 'Lovers Quarrel', cursive;
  margin-bottom: 1rem;
  margin-top: 8rem;
  text-align: center;
}

.about-hero {
  background: linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.30)), url("../images/about-me.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.about-me-textbox {
  background-color: #f5f5f5;
  outline: 2px solid rgba(213, 59, 110, 0.70);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.about-me-textbox h2 {
  background: #f5f5f5;
  color: rgb(213, 59, 110);
  font-size: 1.2rem;
  font-weight: 500;
  left: 50%;
  margin-top: 0;
  padding: 0 .5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.3em;
}

.origins h3, .hobbies h3, .origins p, .hobbies p {
  color: #FFF;
}

.introduction_design {
  position: relative;
}

.introduction_design p, .importance_design p {
  margin: 10px 0;
}

.importance_design {
  width: 100%;
}

.button {
  margin-top: 20px
}

.hobbies {
  background: linear-gradient( rgba(214, 188, 193, 0.20), rgba(214, 188, 193, 0.20) ), url("../images/lupo-design.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  height: 200px;
  margin-top: 25px;
  max-width: 100%;
}

/* Contact============ */

.contact {
  background-color: #D53B6E;
  max-width: 100%;
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.contact h2 {
  background-color:#D53B6E;
  color: #FFF;
  font-size: 1.25rem;
  left: 50%;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.15em;
}

.contact p {
  color: #FFF;
  text-align: center;
}

.footer-icons {
  float: right;
  padding-top: 25px;
  padding-right: 0;
  margin: 0 auto;
  width: 100%;
}

.fa {
  color: #eca4bc;
  font-size: 1.4em !important;
  margin: 0 auto;
  width: 25%;
}


.footer-copy p {
  width: 100%;
}


/*Tablet====================*/

@media only screen and (min-width: 575px) {

  .container {
    padding: 25px 75px;
  }

  .about-me-textbox h2 {
    font-size: 1.5rem;
    top: 0.8em;
  }

  .about-me {
    background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/lake-merritt.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 55% 55%;
    background-size: cover;
    height: 100vh;
    margin: 4em;
    padding: 5em;
  }

  .about-me-textbox {
    box-shadow: 0 0 3em 0 rgba(0,0,0,.25);
    padding: 4em;
    position: relative;
    text-align: left;
    top: -13em;
    left: -7em;
    width: 55vw;
  }

  .about-me-textbox h2 {
    font-size: 1.5rem;
    font-weight: 500;
    left: 2.75em;
    margin-top: 0;
    padding: 0 .5em;
    position: absolute;
    transform: translateX(0);
    top: 0.8em;
  }

}

@media screen and (min-width: 1024px) {

  .container {
    padding: 25px 200px;
  }

  .intro-text h1 {
    font-size: 5.5em;
  }

  p {
    margin-top: 10px;
  }

  .footer-icons {
    display: block;
    text-align: center;
  }

  .fa {
    width: 50px;
  }

  .footer-copy p {
    padding-bottom: 25px;
  }

}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 25px 300px;
  }

  #intro-design-h2, #import-design-h2 {
    margin: 50px 0 0 100px;
  }

}
