
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 10px 25px;
  }

  .button {
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;
  }

  .slider {
    background: #f9f9f9;
    color: #000;
    height: auto;
    width: 100%;
  }

  .slider h2 {
    color: #000;
    margin-top: 0;
    padding: 30px 0 20px 0;
  }

  /* Typography==================== */

  h2 {
    margin: 30px auto 10px auto;
    padding-left: 25px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .bold_italic {
    font-weight: 600;
    font-style: italic;
  }

  .center {
    text-align: center;
  }

  /*Navigation Bar*/

  nav.greyNavItem, nav.greyNavItem a {
    color: #000;
  }

  .whiteNavItem, .whiteNavItem a {
    color: #FFF;
  }

  .whiteNavItem:hover, .whiteNavItem a:hover {
    color: #000;
  }

/* hero============= */

  .intro {
    height: 100vh;
    margin-bottom: 0;
    overflow-y: hidden;
  }

  .intro-text h1 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }

  .intro-text {
    color: #fff;
    padding-top: 10em;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    width: 100%;
  }

  .burpi-hero {
    background:linear-gradient(rgba(255, 255, 255, -2.4), rgba(213, 59, 110, 0.0)), url("../images/burpi-hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
  }

  .burpi-about-textbox {
    background-color: #f5f5f5;
    color: #000;
    outline: 2px solid #ffae3f;
    outline-offset: -2em;
    padding: 3em;
    position: relative;
    text-align: center;
    width: 100vw;
    }

  .burpi-about-textbox h2 {
    background: #f5f5f5;
    color: #4c4c4c;
    font-size: 1.12rem;
    font-weight: 500;
    left: 50%;
    margin-top: 0;
    padding: 0 .5em;
    position: absolute;
    transform: translateX(-50%);
    top: 1.25em;
  }

  .port-button {
    background-color: rgba(255,255,255,0.5);
    border: none;
    color: #000;
    font-size: 0.85rem;
    margin: 4em auto 0 auto;
    padding: 10px 20px;
    text-align: center;
    width: 50vw;
    }

  .port-button:hover {
    background-color: rgba(239, 239, 239, 0.5);
    border: none;
    color: #FFF;
  }

  /*Intro*/

  .design_role h3 {
    display: block;
    margin: 10px auto;
    padding-top: 15px;
    text-align: center;
  }

  .design_role li, .design_role p {
    text-align: center;
  }

  .design_role p {
    padding: 10px 0 5px 0;
  }


  /* Competitive Analysis============== */

  .competition {
    max-width: 100%;
  }

  .competitionIcon {
    display: inline-block;
    height: 65px;
    object-fit: contain;
    margin: 25px auto;
    padding-right: 10px;
    width: 33%;
  }

  /* User Research====================== */

  #graph1 {
    float: none;
    height: 250px !important;
    margin-bottom: 40px;
    width: 250px !important;
  }

  #graph2, .mobile_graphs h4:nth-child(2){
    display: none !important;
  }

  canvas {
    margin-left: auto;
    margin-right: auto;
  }

  .chart-legend {
  font-size: 1rem;
  margin-top: 1.5em;
  }

  .chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }

  .chart-legend li {
    font-size: 1rem;
  }


  /* Personas================= */

  .demographic {
    margin: 0 auto;
    max-width: 100%;
  }

  .demographic img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }

  .mobile-persona {
    text-align: center;
  }

  .mobile-persona h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0.75em 0;
  }

  .mobile-persona h2 {
    color: rgb(213, 59, 110);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1em auto 0.25em auto;
    padding: 0;
  }

  .persona-info {
    max-width: 100%;
    padding-left: 0;
  }

  .preference_line {
    background: #DB9BAC;
    height: 1px;
    margin: 30px 0 30px 0;
    width: 100%;
  }

  .preference_line:last-of-type {
    margin-bottom: 0;
  }

  .laptop-persona {
    display: none;
  }

  .goals {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .goals img {
    display: block;
    height: auto;
    margin: 20px auto 0 auto;
    width: 90%;
  }

  /* User Flows================ */

  .userflows {
    display: none;
  }

/* Wireframes===================== */

  .sketch_wires img {
    display: block;
    margin: 25px auto;
    width: 75%;
    height: auto;
  }

  .big-sketch {
    display: none;
  }

  .wire-detail div {
    display: flex;
    align-items: baseline;
    padding: 0;
  }

  .wire-detail h3 {
    background-color: #FFAE3F;
    border-radius: 50%;
    color: #FFF;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
    width: 1.5rem;
  }


  /* Testing==================== */

  .testing img {
    display: block;
    height: auto;
    width: 50%;
    margin: 25px auto;
    object-fit: contain;
  }

  h4 {
    color: #f28c00;
    font-size: 1.45rem;
  }

  .nomenclature-test img:nth-of-type(1) {
    width: 100%;
    margin-top: 0;
  }

  .nomenclature-test img:nth-of-type(2) {
    margin-bottom: 0;
  }

  /* Branding================== */

  .branding {
    background:linear-gradient(rgba(255,255,255, 0.6), rgba(255,255,255,0.8)), url("../images/burpi-logo-sketches.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 25px auto;
  }


  .preference-tests {
    display: block;
  }

  .logoVector img {
    display: block;
    margin: 25px auto;
    object-fit: contain;
    width: 75%;
    height: auto;
  }

  .moodboard-container {
    display: none;
  }

  .font_quicksand {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
  }

  .font_lato {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 25px;
  }

  .color_row {
    display: block;
    margin: 15px auto;
    text-align: center;
    width: 100%;
  }

  .color_row1 {
    margin-bottom: 10px;
  }

  .color_circle {
    border-radius: 50%;
    display: inline-block;
    height: 5em;
    margin-right: 5px;
    width: 5em;
  }

  .color_circle p {
    font-size: .75rem;
    padding-top: 30px;
    text-align: center;
  }

  .circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    }

  .core1, .core2, .core3 {
    color: #FFF;
  }

  .support1, .support2, .support3 {
    color: #000;
  }

  .core1 {
    background-color: #FFAE3F;
  }

  .core2 {
    background-color: #69BACD;
  }

  .core3 {
    background-color: #000;
  }

  .support1 {
    background-color: #F4F4F4;
    border: 0.01em solid grey;
  }

  .support2 {
    background-color: #7BD195;
  }

  .support3 {
    background-color: #ABE2C7;
  }

  .color_row2 {
    margin-bottom: 2em;
  }

  /* Final Design=================== */

  .closeups {
    padding: 10px 25px;
  }

  .closeups img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 75%;
  }

  .final {
    background-color: #f5f5f5;
    outline: 2px solid rgb(0, 0, 0,0.2);
    outline-offset: -2em;
    margin-top: 25px;
    padding: 3em;
    position: relative;
    width: 100vw;
  }

  .final h2 {
    background: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 500;
    left: 50%;
    margin-top: 0;
    padding: 0 .5em;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    top: 0.6em;
  }

  .final p:nth-of-type(1) {
    margin-top: 30px;
  }

  .final p:nth-of-type(2) {
    margin-bottom: 1em;
  }

  .footer-wrapper {
    display: block;
  }

  .footer-icons {
    text-align: center;
  }

  .fa {
    font-size: 1.5em !important;
    margin: 5px 10px;
  }

  .footer-copy {
    padding-top: 25px;
    padding-left: 30px;
    width: 100%;
    }

  .copyright {
    display: block;
    margin: 1em auto;
    width: 100%;
  }


@media only screen and (min-width: 575px) {

  h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .container {
    padding: 25px 75px;
  }

  .button {
    width: 200px;
  }

  .intro {
    overflow-y: hidden;
  }

  .intro-text h1 {
    margin-top: .5em;
  }

  .burpi-about-textbox h2 {
    font-size: 1.5rem;
    top: 0.8em;
    left: 6.75em;
  }

  .burpi-about {
    background: url("../images/burpi-design.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 55% 25%;
    background-size: cover;
    height: 100vh;
    margin: 4em;
    padding: 5em;
  }

  .burpi-about-textbox {
    box-shadow: 0 0 3em 0 rgba(0,0,0,.25);
    padding: 4em;
    position: relative;
    text-align: left;
    top: -13em;
    left: -7em;
    width: 55vw;
  }

  .port-button {
    margin: 0 auto;
    width: 25vw;
  }

  .title-bar {
    background: #ffae3f;
    height: 50px;
    position: absolute;
    margin: -7px 0;
    opacity: 1;
    width: 40vw;
    z-index: 2;
  }

  .section-title {
    color: #FFF;
    font-size: 1.25rem;
    letter-spacing: 0.025em;
    margin-bottom: 25px;
    margin-left: 0;
    max-width: 50%;
    position: relative;
    top: 0.4em;
    z-index: 3;
  }

  .role-wrapper {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 10px;
    margin: 25px 100px;
  }

  /* Graphs===================== */

  #graph2 {
    height: 300px !important;
    width: 550px !important;
  }


  /* Personas================= */

  .mobile-persona {
    display: none;
  }

  .laptop-persona {
    display: block;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
  }

  .persona-about {
    padding: 20px;
    text-align: center;
  }

  .laptop-persona h2 {
    color: rgb(213, 59, 110);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    padding: 0 .5em;
    margin-bottom: 0.25em;
  }

  .laptop-persona h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.75em 0;
  }

  .persona1-img {
    background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/jennifer.jpg");
    background-repeat: no-repeat;
    background-position: 55% 2%;
    background-size: cover;
  }

  .persona2-img {
    background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/emeka.jpg");
    background-repeat: no-repeat;
    background-position: 55% 20%;
    background-size: cover;
  }

  .persona3-img {
    background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/carrie.jpg");
    background-repeat: no-repeat;
    background-position: 55% 46%;
    background-size: cover;
  }

  /* User Flows================ */

  .userflows {
    display: block;
  }

  .flow img {
    display: block;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    width: 50vw;
  }


  /* Wireframes===================== */

  .mobile_wires {
    display: none;
  }

  .logoVector img {
    width: 50%;
  }

  .big-sketch {
    display: block;
  }

  .sketch-wrapper {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 50px;
    margin: .5em 3em 2em 3em;
    padding-top: 5em;
  }

  .sketch-wrapper img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    height: 300px;
    object-fit: contain;
  }

  .test-wrap1, .test-wrap2, .test-wrap3, .test-wrap4 {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: .5em 3em 2em 3em;
    justify-items: center;
  }

  .test-wrap1 {
    grid-template-columns: repeat(4, 1fr);
  }

  .test-wrap2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .test-wrap3 {
    grid-template-columns: 1fr 1fr 1.5fr;
  }

  .test-wrap4 {
    grid-template-columns: 1fr 1fr;
  }


  /* Testing========================= */

  .testing img {
    height: 250px;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
  }

  .nomenclature-test img:nth-of-type(1) {
    width: 50%;
    margin-top: 0;
  }

  /* Final Design================ */

  .closeups {
    padding: 0;
  }

  .closeups .test-wrap4 {
    grid-row-gap: 10px;
  }

  .closeups img {
    width: 100%;
  }

  .closeups div {
    padding: 10px;
  }

  .final p:nth-of-type(2) {
    margin-bottom: 2em;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 20px;
    padding: 5px 25px;
  }

  .footer-icons {
    padding-top: 1em;
  }

  .footer-copy {
    padding: 25px 0 25px 30px;
  }

}

@media only screen and (min-width: 1024px) {

  .container {
    padding: 25px 275px;
  }

  .intro-text {
    padding: 175px 100px;
  }

  .intro-text h1 {
    font-size: 5.5em;
  }

  .burpi-about {
    margin: 5em;
    padding: 8em;
    }

  .burpi-about-textbox {
    padding: 4em;
    top: -16em;
    left: -10em;
    width: 70%;
  }

  .burpi-about-textbox h2 {
    font-size: 1.5rem;
    font-weight: 500;
    left: 6.75em;
    margin-top: 0;
    top: 0.8em;
  }

  .title-bar {
    margin: -7px 0;
    width: 30vw;
  }

  .section-title {
    left: 0;
    margin-bottom: 25px;
    max-width: 50%;
    top: 0.5em;
  }

  /* Graphs============ */

  #graph2 {
    width: 650px !important;
  }

  /* Testing=============== */

  .testing img {
    height: 250px;
  }


  /* Footer==================== */

  .footer-icons {
    padding-top: .25em;
  }

}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 25px 300px;
  }

  .burpi-about-textbox {
    padding: 4em;
    }

  .color_circle {
    height: 10em;
    width: 10em;
  }

  .color_circle p {
    padding-top: 75px;
  }

  .sketch-wrapper img {
    height: 500px;
    object-fit: contain;
  }

  .logoVector img {
    width: 50%;
  }

  .testing img {
    height: 450px;
  }
}

@media only screen and (min-width: 2560px) {

  .container {
    padding: 50px 500px;
  }

  .title-bar {
    height: 75px;
  }

  .wire-detail h3 {
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
  }
}
