img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: normal;
}

.white_background {
  background-color: none;
}

.menuToggle span {
  background: #FFF;
}

/*Intro========================*/
:root {
  --hover-height: 60%;
  --other-height: 40%;
  --speed: 1000ms;
}

.intro {
  background: var(--container-bg-color);
  height: 100vh;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.intro-text h1 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2.75rem;
  margin-top: 2rem;
  font-size: 2.5rem;
}

@media only screen and (min-width: 375px) {
  .intro-text h1 {
    font-size: 2.8rem;
    margin-bottom: 2.75rem;
    margin-top: 3.5rem;
  }
}

@media only screen and (min-width: 425px) {
  .intro-text h1 {
    font-size: 3.25rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }
}

.split {
  position: absolute;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.split.left {
  top:0;
  background-color: rgba(255, 95, 109,0.5);
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.split.right {
  bottom: 0;
  background: url('../images/12.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  height: var(--hover-height);
}

.hover-left .right {
  height: var(--other-height);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  height: var(--hover-height);
}

.hover-right .left {
  height: var(--other-height);
}

.hover-right .left:before {
  z-index: 2;
}

.intro-text {
  color: #fff;
  padding: 3em 2em;
}

.home-about-textbox {
  color: #000;
  padding: 2rem;
  text-align: left;
  width: 100%;
}

.home-about-textbox h2 {
  color: #4c4c4c;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
}

/*Portfolio===================  */

.portfolio {
  margin: 3em 0;
}

.port-item {
  position: relative;
  margin: 0;
}

.port-item img {
  display: block;
}

.port-desc {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0em;
  color: white;
  left: 0em;
  padding: 1.15em;
  position: absolute;
  right: 0em;
  text-align: center;
  z-index: 4;
}

.port-desc p {
  font-size: 0.85rem;
  margin: 1em;
}

.port-button {
  color: #FFF;
  font-size: 0.85rem;
  margin: 3px auto;
  width: 50vw;
}

.port-desc h3 {
  margin: 0;
}

/* Contact============ */

.contact {
  background-color: #F5f5F5;
  max-width: 100%;
  outline: 2px solid rgba(0,0,0,0.2);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.contact h2 {
  background-color: #f5f5f5;
  font-size: 1.2rem;
  left: 50%;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.2em;
}

.contact p {
  text-align: center;
}

.footer-icons {
  float: right;
  padding-top: 25px;
  padding-right: 0;
  margin: 0 auto;
  width: 100%;
}

.fa {
  color: #3f3f3f;
  font-size: 1.4em !important;
  margin: 0 auto;
  width: 15%;
}

.footer-copy {
  padding-top: 25px;
  padding-left: 30px;
  width: 100%;
  }


.project-title {
  margin: 25px auto;
  padding-left: 2rem;
}


/*Tablet====================*/

@media only screen and (min-width: 575px) {

  :root {
    --hover-width: 70%;
    --other-width: 30%;
    --speed: 1000ms;
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .split.left {
    left:0;
  }

  .split.right {
    right:0;
  }

  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }

  .hover-left .left {
    width: var(--hover-width);
    height: 100vh;
  }

  .hover-left .right {
    width: var(--other-width);
    height: 100vh;
  }

  .hover-right .right {
    width: var(--hover-width);
    height: 100vh;
  }

  .hover-right .left {
    width: var(--other-width);
    height: 100vh;
  }


  .home-about-textbox h2 {
    margin-top: 0;
  }

  .home-about-textbox {
    padding: 3rem;
  }

  .project-title {
    padding-left: 3rem;
  }

  .port-button {
    width: 25vw;
  }

  .port-item {
    float: left;
    width: 33.33%;
  }

  .port-desc {
    padding: 1.75em;
  }

  h2 {
    padding-left: 75px;
  }

  .contact h2 {
    font-size: 1.5rem;
    top: 0.75em;
  }

  .footer-copy {
    padding: 25px 0 25px 30px;
  }

  }

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .intro-text {
    padding-top: 8em;
    padding-left: 3em;
  }
}


/*Laptop*/

@media only screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .intro-text h1 {
    font-size: 5.5em;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .intro-text {
    color: #fff;
    padding-top: 5em;
    padding-left: 4em;
  }

  .intro-text p {
    padding-top: 0;
  }

  .home-about-textbox, .project-title {
    padding-left: 200px;
    padding-right: 200px;
  }

  .port-item {
    float: left;
    overflow: hidden;
    width: 33.33%;
  }

  .port-desc {
    transform: translateY(150%);
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
    transition: all ease-in-out 700ms;
  }

  .footer-icons {
    display: block;
    text-align: center;
  }

  .fa {
    width: 50px;
  }

  .footer-copy {
    padding: 25px 0 25px 30px;
  }
}

/*Large Laptop*/
@media only screen and (min-width:1440px) {
  .home-about-textbox {
    padding: 0;
    margin: 50px auto;
    width: 50%;
  }

  .project-title {
    margin: 50px auto 20px auto;
    padding-left: 0;
    width: 50%;
  }
}

/*Extra Large Laptop*/
@media only screen and (min-width: 2560px) {

  p {
    line-height: 200%;
  }
}
