/*Navigation Bar*/

.greyNavItem, #nav_about a, #nav_resume a{
  color: #9c9c9c;
}

.greyNavItem:hover, .greyNavItem a:hover {
  color: #050505;
}

/*Intro*/
.intro {
  text-align: center;
  padding: 100px 200px 100px 250px;
}

.intro h1 {
  margin-bottom: 10px;
}

.intro p {
  padding-top: 25px;
}

.line {
  height: 3px;
  background:#3BA09E;
  position: absolute;
  margin-bottom: 10px;
  -webkit-animation-name: underline;
  animation-name: underline;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes underline {
   0% {
     width: 0;
     right: 0;
   }
   100% {
     width: 50%;
     right: 20%;
   }
 }

/*Project*/

.grid {
  position: relative;
  margin: 50px 0 0 0;
  text-align: center;
  max-width: 100%;
  padding: 0;
}

.grid figure {
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 100%;
  max-height: 400px;
  cursor: pointer;
  color: white;
  width: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  opacity: 0;
}

.grid figure figcaption, .grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*hover effect*/

figure.effect-chico img {
  max-width: 100%;
  width: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
  opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

figure.effect-chico figcaption {
	padding: 3em;
  transition: all 1s, transform 1s;
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 25px;
	right: 25px;
	bottom: 25px;
	left: 25px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
}

figure.effect-chico h3 {
	padding: 8%;
  color: #FFF;
  margin: 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 500px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}

  figure.effect-chico figcaption::before {
    left: 105px;
  }
}

/*About Me*/

.about_me {
  position: relative;
}

.about_me p:nth-child(2), .about_me p:nth-child(3) {
  margin-top: 10px;
}

#sashapic {
  height:500px;
  padding: 20px 0 0 25px;
  float: right;
  width:500px;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp.start {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

/*Skills*/
.skills {
  text-align: center;
  padding-right: 40px;
}

.skills_list {
  font-size: 1.25rem;
  list-style-type: none;
  padding-left: 0;
}

.about h2 {
  margin-top: 0;
}

.skills li {
  line-height: 150%;
}

/*Contact*/

.contact {
  background: linear-gradient( rgba(59, 160, 158, 0.20), rgba(59, 160, 158, 0.20) ), url("../images/contact_me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 440px;
  max-width: 100%;
}

.contactbtn {
  background-color: #3BA09E;
  border-radius: 5px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.25);
  color: #FFF;
  display: inline-block;
  margin: 30px 100px 25px 0;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 125px;
}

.contactbtn:hover {
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.25);
  color: #FFF;
  cursor: pointer;
}

.contact h2 {
  margin-top: 0;
  padding-top: 50px;
}

.footer-copy {
  padding: 25px 0 25px 0;
}

/*Phone*/

@media only screen and (min-width: 320px) and (max-width: 574px) {

  @keyframes underline {
     0% {
       width: 0;
       right: 0;
     }
     100% {
       width: 50%;
       right: 25%;
     }
   }

  figure.effect-chico figcaption::before {
    right: 20px;
    top: 20px;
    bottom: 20px;
    left: 20px;
  }

  .grid figure {
    margin-left: 0;
  }

  .intro {
    padding: 100px 25px 100px 25px;
  }

  .button {
    margin-top: 20px;
  }

  .about_me p {
    margin-top: 10px;
  }

  .skills {
    padding-right: 0;
  }

  .skills_list {
    font-size: 1rem;
  }

  #sashapic {
    display: none;
  }

  .contactbtn {
    margin: 0 100px 20px 0;
    width: 150px;
  }
  .contact {
    height: 470px;
    margin-top: 30px;
  }

  .contact p {
    padding-bottom: 25px;
  }

  .grid {
    margin: 50px 0 0 0;
  }

  .footer-copy {
    text-align: center;
    width: 100%;
  }
}

/*Tablet*/

@media only screen and (min-width: 575px) and (max-width: 991px) {
  .contact {
      height: 410px;
    }

  .contactbtn {
      margin: 50px 50px 0 0;
      width: 125px;
    }

  #sashapic {
    margin-right: 0;
    object-fit: cover;
    width: 250px;
    }

    .grid {
      margin: 50px 0 0 0;
    }

    .skills_list {
      font-size: 1rem;
    }
  }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .intro {
    padding: 100px;
  }

  figure.effect-chico figcaption::before {
    left: 30px;
    right: 30px;
  }
}


/*Laptop*/
@media only screen and (min-width: 991px) and (max-width: 1024px) {

  #sashapic {
      margin-right: 0;
      object-fit: cover;
      width: 400px;
    }
    .contact {
      height: auto;
    }
  }

/*Extra Large Laptop*/
@media only screen and (min-width: 1440px) {
  .horizontal_line {
    margin: 10px 0 15px 50px;
  }

  #sashapic {
    height: 400px;
    object-position: 50% 20%;
    object-fit: cover;
    margin-right: 50px;
    padding: 0 0 0 25px;
    width: 400px;
  }
}

@media only screen and (min-width: 2560px) {

  p {
    line-height: 200%;
  }

  .grid figure {
    max-height: 700px;
  }

  figure.effect-chico figcaption::before {
    right: 110px;
  }

  #sashapic {
    margin-right: 150px;
    object-position: 50% 20%;
    object-fit: cover;
    padding: 0 0 0 25px;
    width: 900px;
  }

  figure.effect-chico figcaption::before {
    padding: 0;
  }

  figure.effect-chico h3 {
    padding: 5%;
  }
}
