img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: 600;
}

h4 {
  color: #ff9300;
  font-size: 1.15rem;
  margin-top: 1rem;
}

.white_background {
  background-color: none;
}

.menuToggle span {
  background: #FFF;
}

/*Intro========================*/
:root {
  --hover-height: 60%;
  --other-height: 40%;
  --speed: 1000ms;
}

.intro {
  background: var(--container-bg-color);
  height: 95vh;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.intro-text h1 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.intro-text p {
  font-size: 1rem;
}

@media only screen and (min-width: 375px) {
  .intro-text h1 {
    font-size: 2.5rem;
  }
}

.split {
  position: absolute;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.split.left {
  top:0;
  background-color: rgba(255, 95, 109,0.5);
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.split.right {
  bottom: 0;
  background: url('../images/12.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  height: var(--hover-height);
}

.hover-left .right {
  height: var(--other-height);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  height: var(--hover-height);
}

.hover-right .left {
  height: var(--other-height);
}

.hover-right .left:before {
  z-index: 2;
}

.intro-text {
  color: #fff;
  padding: 3em 2em;
}

.home-about-textbox {
  color: #000;
  padding: 2rem;
  text-align: left;
  width: 100%;
}

.home-about-textbox h2 {
  color: #4c4c4c;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
}

/*Portfolio===================  */

.wrapper {
  margin-top: 3em;
}

.port-item img {
  display: block;
}

.port-desc {
  padding: 1.15em;
  text-align: center;
}

.port-desc p {
  font-size: 1rem;
  margin-top: .25em;
}

.project-button {
  font-size: 0.85rem;
  margin: 3em auto;
  width: 200px;
}

.port-desc h3 {
  margin: 0;
}

/* Contact============ */

.contact {
  background-color: #F5f5F5;
  max-width: 100%;
  outline: 2px solid rgba(0,0,0,0.2);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.contact h2 {
  background-color: #f5f5f5;
  font-size: 1.2rem;
  left: 50%;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.2em;
}

.contact p {
  text-align: center;
}

.footer-icons {
  float: right;
  padding-top: 25px;
  padding-right: 0;
  margin: 0 auto;
  width: 100%;
}

.fa {
  color: #3f3f3f;
  font-size: 1.4em !important;
  margin: 0 auto;
  width: 15%;
}

.footer-copy {
  padding-top: 25px;
  padding-left: 30px;
  width: 100%;
  }


/*Tablet====================*/

@media only screen and (min-width: 575px) {

  .intro {
    height: 85vh;
  }

  .intro-text p {
    font-size: 1.15rem;
  }

  :root {
    --hover-width: 60%;
    --other-width: 40%;
    --speed: 1000ms;
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .split.left {
    left:0;
  }

  .split.right {
    right:0;
  }

  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }

  .hover-left .left {
    width: var(--hover-width);
    height: 100vh;
  }

  .hover-left .right {
    width: var(--other-width);
    height: 100vh;
  }

  .hover-right .right {
    width: var(--hover-width);
    height: 100vh;
  }

  .hover-right .left {
    width: var(--other-width);
    height: 100vh;
  }

  .intro-text h1 {
    margin-top: 0;
  }

  .home-about-textbox h2 {
    margin-top: 0;
  }

  .home-about-textbox {
    padding: 3rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 50px;
    margin: 50px 75px;
  }

  .port-desc {
    text-align: left;
  }

  .project-button {
    margin: 3em auto 3em 0;
  }

  h2 {
    padding-left: 75px;
  }

  .contact h2 {
    font-size: 1.5rem;
    top: 0.75em;
  }

  .footer-copy {
    padding: 25px 0 25px 30px;
  }

  }

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .intro-text {
    padding-top: 5em;
    padding-left: 3em;
  }
}


/*Laptop*/

@media only screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .intro-text h1 {
    font-size: 5.5em;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .intro-text {
    color: #fff;
    padding-top: 5em;
    padding-left: 4em;
  }

  .intro-text p {
    padding-top: 0;
  }

  .home-about-textbox {
    padding-left: 200px;
    padding-right: 200px;
  }

  .port-desc {
  }

  .footer-icons {
    display: block;
    text-align: center;
  }

  .fa {
    width: 50px;
  }

  .footer-copy {
    padding: 25px 0 25px 30px;
  }
}

/*Large Laptop*/
@media only screen and (min-width:1440px) {
  .home-about-textbox {
    padding: 0;
    margin: 50px auto;
    width: 50%;
  }
}

/*Extra Large Laptop*/
@media only screen and (min-width: 2560px) {

  p {
    line-height: 200%;
  }
}
