img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: normal;
}

.white_background {
  background-color: none;
}

.menuToggle span {
  background: #FFF;
}

/*Intro========================*/

.intro {
  height: 100vh;
  margin-bottom: 0;
  overflow: hidden;
}

.intro-text h1 {
  margin-bottom: 1rem;
  margin-top: 5rem;
}


.intro-text {
  color: #fff;
  padding-top: 10em;
  text-align: center;
  width: 100%;
}

.home-hero {
  background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.home-about-textbox {
  background-color: #f5f5f5;
  outline: 2px solid rgba(213, 59, 110, 0.70);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.home-about-textbox h2 {
  background: #f5f5f5;
  color: rgb(213, 59, 110);
  font-size: 1.2rem;
  font-weight: 500;
  left: 50%;
  margin-top: 0;
  padding: 0 .5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.3em;
}

/*Portfolio===================  */

.portfolio {
  margin: 3em 0;
}

.port-item {
  position: relative;
  margin: 0;
}

.port-item img {
  display: block;
}

.port-desc {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0em;
  color: white;
  left: 0em;
  padding: 1em;
  position: absolute;
  right: 0em;
  text-align: center;
  z-index: 4;
}

.port-desc p {
  font-size: 0.85rem;
  margin: 1em;
}

.port-button {
  color: #FFF;
  font-size: 0.85rem;
  margin: 3px auto;
  width: 50vw;
}

.port-desc h3 {
  margin: 0;
}

/* .button {
    margin-top: 20px;
  } */

.skills {
    padding-right: 0;
  }

.skills_list {
    font-size: 1rem;
  }

/* Contact============ */

.contact {
  background-color: #D53B6E;
  max-width: 100%;
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: -2em;
  padding: 3em;
  position: relative;
  text-align: center;
  width: 100vw;
}

.contact h2 {
  background-color:#D53B6E;
  color: #FFF;
  font-size: 1.2rem;
  left: 50%;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  transform: translateX(-50%);
  top: 1.2em;
}

.contact p {
  color: #FFF;
  text-align: center;
}

.footer-icons {
  float: right;
  padding-top: 25px;
  padding-right: 0;
  margin: 0 auto;
  width: 100%;
}

.fa {
  color: #FFF;
  margin: 0 auto;
  width: 25%;
}



.footer-copy {
    padding: 0;
    width: 100%;
  }

.project-title {
  margin: 25px auto;
  padding-left: 0;
  text-align: center;
}

/*Skills=====================*/
.skills {
  text-align: center;
}

.skills_list {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 0;
}

.about h2 {
  margin-top: 20px;
}

.skills li {
  line-height: 1.5;
}

/*Tablet====================*/

@media only screen and (min-width: 575px) {

  .home-about-textbox h2 {
    font-size: 1.5rem;
    top: 0.8em;
  }

  .home-about {
    background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/12.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 55% 55%;
    height: 100vh;
    margin: 4em;
    padding: 5em;
  }

  .home-about-textbox {
    box-shadow: 0 0 3em 0 rgba(0,0,0,.25);
    padding: 4em;
    position: relative;
    text-align: left;
    top: -13em;
    left: -7em;
    width: 55vw;
  }

  .home-about-textbox h2 {
    font-size: 1.5rem;
    font-weight: 500;
    left: 2.75em;
    margin-top: 0;
    padding: 0 .5em;
    position: absolute;
    transform: translateX(0);
    top: 0.8em;
  }

  .port-button {
    width: 25vw;
  }

  .port-item {
    float: left;
    width: 50%;
  }


  h2 {
    padding-left: 75px;
  }

  .contact h2 {
    font-size: 1.5rem;
    top: 0.75em;
  }

  .footer-copy {
    padding: 0;
    }

  }

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .intro-text {
    padding-top: 100px;
  }
}


/*Laptop*/

@media only screen and (min-width: 1024px) {
  .intro-text h1 {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .intro-text {
    color: #fff;
    padding-top: 10em;
    width: 100%;
  }

  .intro-text p {
    padding-top: 25px;
  }

  .home-about {
    margin: 5em;
    padding: 8em;
  }

  .home-about-textbox {
    padding: 4em;
    top: -16em;
    left: -10em;
    width: 70%;
  }

  .home-about-textbox h2 {
    font-size: 1.5rem;
    font-weight: 500;
    left: 2.75em;
    margin-top: 0;
    top: 0.8em;
  }

  .port-item {
    float: left;
    overflow: hidden;
    width: 50%;
  }

  .port-desc {
    transform: translateY(150%);
  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
    transition: all ease-in-out 700ms;
  }

  .footer-icons {
    display: block;
    text-align: center;
  }

  .fa {
    width: 50px;
  }

  .footer-copy {
    padding: 25px 0 25px 0;
  }
}

/*Extra Large Laptop*/
@media only screen and (min-width: 2560px) {

  p {
    line-height: 200%;
  }
}
