body {
  overflow-x: hidden;
}

.container {
  padding: 10px 25px;
}

.button {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 100%;
}

.slider {
  background: #f9f9f9;
  color: #000;
  height: auto;
  width: 100%;
  margin-top: 25px;
}

.slider h2 {
  color: #000;
  margin-top: 0;
  padding: 30px 0 20px 0;
}

/* Typography==================== */

h2 {
  margin: 30px auto 10px auto;
  padding-left: 25px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.bold_italic {
  font-weight: 600;
  font-style: italic;
}

.center {
  text-align: center;
}

/*Navigation Bar*/

nav.greyNavItem, nav.greyNavItem a {
  color: #000;
}

.whiteNavItem, .whiteNavItem a {
  color: #FFF;
}

.whiteNavItem:hover, .whiteNavItem a:hover {
  color: #000;
}

/* hero============= */

.intro {
  height: 100vh;
  margin-bottom: 0;
  overflow-y: hidden;
}

.intro-text h1 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
  margin-top: 0;
}

.intro-text {
  color: #fff;
  padding-top: 10em;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  width: 100%;
}

.pocket-hero {
  background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/pocket.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.pocket-about-textbox {
  background-color: #f9f9f9;
  color: #000;
  outline-offset: -2em;
  padding: 10px 25px;
  position: relative;
  width: 100vw;
  }

.pocket-about-textbox h2 {
  background: #f9f9f9;
  color: #4c4c4c;
  font-size: 1.12rem;
  font-weight: 500;
  margin-top: 20px;
  padding-left: 0;
}

.port-button {
  background-color: rgba(255,255,255,0.5);
  border: none;
  color: #000;
  font-size: 0.85rem;
  margin: 4em auto 0 auto;
  padding: 10px 20px;
  text-align: center;
  width: 50vw;
  }

.port-button:hover {
  background-color: rgba(239, 239, 239, 0.5);
  border: none;
  color: #FFF;
}

/*Intro*/

.design_role h3 {
  display: block;
  margin: 10px auto;
  padding-top: 15px;
  text-align: center;
}

.design_role li, .design_role p {
  text-align: center;
  list-style-type: none;
}

.design_role p {
  padding: 10px 0 5px 0;
}

/* User Research================= */

.research img {
  display: none;
}

.research ul {
  display: block;
  list-style-type: circle;
  padding-top: 2rem;
  padding-left: 1rem;
}

.research ul li {
  font-size: 1rem;
}


/* Personas================= */

.demographic {
  margin: 0 auto;
  max-width: 100%;
}

.demographic img {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;
}

.mobile-persona {
  text-align: center;
}

.mobile-persona h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.75em 0;
}

.mobile-persona h2 {
  color: rgb(213, 59, 110);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1em auto 0.25em auto;
  padding: 0;
}

.persona-info {
  max-width: 100%;
  padding-left: 0;
}

.preference_line {
  background: #DB9BAC;
  height: 1px;
  margin: 30px 0 30px 0;
  width: 100%;
}

.preference_line:last-of-type {
  margin-bottom: 0;
}

.persona1-img {
  background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/parent.jpg");
  background-repeat: no-repeat;
  background-position: 55% 2%;
  background-size: cover;
}

.persona2-img {
  background:linear-gradient(rgba(255, 255, 255, 0.50), rgba(213, 59, 110, 0.20)), url("../images/pocket-persona2.jpg");
  background-repeat: no-repeat;
  background-position: 55% 2%;
  background-size: cover;
}

.laptop-persona {
  display: none;
}

.goals {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.goals img {
  display: block;
  height: auto;
  margin: 20px auto 0 auto;
  width: 90%;
}

/* User Flows================ */

.userflows {
  display: none;
}

/* Wireframes===================== */

  .sketches {
    display: block;
    width: 50vw;
    height: auto;
    margin: 2em auto;
  }

  .sketch_wires img {
    display: block;
    margin: 25px auto;
    width: 75%;
    height: auto;
  }

  .sketch-wrapper {
    display: none;
  }

  .wire-detail div {
    display: flex;
    align-items: baseline;
    padding: 0;
  }

  .wire-detail h3 {
    background-color: #FFAE3F;
    border-radius: 50%;
    color: #FFF;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 1rem 1rem 1rem 0;
    text-align: center;
    width: 1.5rem;
  }

  /* Testing================ */

  .testing-wrapper img {
    display: block;
    margin: 25px auto;
    width: 60%;
  }

  .testing-wrapper h4 {
    font-weight: 600;
    text-align: center;
    margin: 2em auto 0 auto;
  }

  .percentage {
    color: #ffae3f;
    font-weight: 600;
  }


  /* Final Design=================== */

  .closeups {
    padding: 10px 25px;
  }

  .closeups img {
    display: block;
    height: auto;
    margin: 25px auto;
    width: 75%;
  }

  .final {
    background-color: #f9f9f9;
    outline: 2px solid rgb(0, 0, 0,0.2);
    outline-offset: -2em;
    margin-top: 25px;
    padding: 3em;
    position: relative;
    width: 100vw;
  }

  .final h2 {
    background: #f9f9f9;
    font-size: 1.5rem;
    font-weight: 500;
    left: 50%;
    margin-top: 0;
    padding: 0 .5em;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    top: 0.6em;
  }

  .final p:nth-of-type(1) {
    margin-top: 30px;
  }

  .final p:nth-of-type(2) {
    margin-bottom: 1em;
  }

  .footer-wrapper {
    display: block;
  }

  .footer-icons {
    text-align: center;
  }

  .fa {
    font-size: 1.5em !important;
    margin: 5px 10px;
  }

  .footer-copy {
    padding-top: 25px;
    padding-left: 30px;
    width: 100%;
    }

  .copyright {
    display: block;
    margin: 1em auto;
    width: 100%;
  }

  @media only screen and (min-width: 575px) {

    h3 {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .container {
      padding: 25px 75px;
    }

    .button {
      width: 200px;
    }

    .intro {
      overflow-y: hidden;
    }

    .pocket-about-textbox h2 {
      font-size: 1.5rem;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .pocket-about-textbox {
      padding: 25px 75px;
      text-align: left;
    }

    .port-button {
      margin: 0 auto;
      width: 25vw;
    }

    .title-bar {
      background: #ffae3f;
      height: 50px;
      position: absolute;
      margin: -7px 0;
      opacity: 1;
      width: 40vw;
      z-index: 2;
    }

    .section-title {
      color: #FFF;
      font-size: 1.25rem;
      letter-spacing: 0.025em;
      margin-bottom: 25px;
      margin-left: 0;
      max-width: 50%;
      position: relative;
      top: 0.4em;
      z-index: 3;
    }

    .role-wrapper {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-column-gap: 10px;
      margin: 25px 100px;
    }

    /* User Research================= */

    .research img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .research ul {
      display: none;
    }

    /* Personas================= */

    .mobile-persona {
      display: none;
    }

    .laptop-persona {
      display: block;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-row-gap: 0;
      margin: 4em 3em 2em 3em;
    }

    .persona-about {
      padding: 20px;
      text-align: center;
    }

    .laptop-persona h2 {
      color: rgb(213, 59, 110);
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 0;
      padding: 0 .5em;
      margin-bottom: 0.25em;
    }

    .laptop-persona h3 {
      font-size: 1rem;
      font-weight: 600;
      margin: 0.75em 0;
    }

    /* User Flows================ */

    .userflows {
      display: block;
    }

    .flow img {
      display: block;
      height: auto;
      margin: 0 auto;
      object-fit: cover;
      width: 50vw;
    }

    /* Wireframes===================== */

    .mobile_wires {
      display: none;
    }

    .sketch-wrapper img {
      display: block;
      margin: 0 auto;
      width: 75%;
      height: auto;
    }

    .sketch-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 40px;
      margin: .5em 3em 2em 3em;
    }

    /* Testing====================== */
    .testing-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    .testing-wrapper img {
      height: auto;
      width: 75%;
    }

    /* Final Design================ */

    .closeups {
      padding: 0;
    }

    .closeups .wrapper {
      grid-row-gap: 10px;
    }

    .closeups img {
      margin-top: 2em;
      width: 75%;
    }

    .closeups div {
      padding: 10px;
    }

    .final p:nth-of-type(2) {
      margin-bottom: 2em;
    }

    .footer-wrapper {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-column-gap: 20px;
      padding: 5px 25px;
    }

    .footer-icons {
      padding-top: 1em;
    }

    .footer-copy {
      padding: 25px 0 25px 30px;
    }
  }

  @media only screen and (min-width:1024px) {

    .container {
      padding: 25px 275px;
    }

    .intro-text {
      padding: 175px 100px;
    }

    .intro-text h1 {
      font-size: 5.5em;
    }

    .title-bar {
      margin: -7px 0;
      width: 30vw;
    }

    .section-title {
      left: 0;
      margin-bottom: 25px;
      max-width: 50%;
      top: 0.5em;
    }

    /* User Personas================ */
    .persona2-img {
      background-position: 55% 50%;
    }

    /* Final Design============= */
    .closeups img {
      width: 100%;
    }

    #last-button {
      margin-bottom: 50px;
    }


      /* Footer==================== */

    .footer-icons {
      padding-top: .25em;
    }
  }

  @media only screen and (min-width: 1440px) {
    .container {
      padding: 25px 300px;
    }

    .pocket-about-textbox {
      padding: 4em;
    }

    .sketch-wrapper img {
      height: 500px;
    }
  }
