/* Graphs=============== */

  .mobile_graphs h4 {
    margin-bottom: 20px;
  }

  .mobile_graphs p {
    margin-top: 20px;
  }


/*Discovery*/


  canvas {
  height: 400px !important;
  width: 400px !important;
  margin-right: auto;
  margin-left: auto;
}


/*Sketches and Wireframes*/
.sketch_wires img {
    object-fit: contain;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
