body, html {
  overflow-x: hidden;
}

/*Navigation Bar*/

nav.greyNavItem, nav.greyNavItem a {
  color: #000;
}

.whiteNavItem, .whiteNavItem a {
  color: #FFF;
}

.whiteNavItem:hover, .whiteNavItem a:hover {
  color: #000;
}

/*Intro*/
.project-title-container{
  padding-top: 150px;
}

.project_title {
  color: #000;
  text-align: center;
}

/*section headers*/
#discovery {
  background: linear-gradient( rgba(214, 188, 193, 0.60), rgba(214, 188, 193, 0.35) ), url("../images/glasses.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
  height: 250px;
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 100%;
}

#information {
  background: linear-gradient( rgba(214, 188, 193, 0.70), rgba(214, 188, 193, 0.35) ), url("../images/woman_writing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 60%;
  color: #F2F2F2;
  height: 250px;
  margin-top: 0;
  margin-bottom: 50px;
  max-width: 100%;
  width: 100%;
}

#branding {
  background: linear-gradient( rgba(214, 188, 193, 0.20), rgba(214, 188, 193, 0.35) ), url("../images/colored_pencils.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 17%;
  color: #F2F2F2;
  height: 250px;
  margin-top: 0;
  max-width: 100%;
  width: 100%;
}

#finalDesign {
  background: linear-gradient( rgba(214, 188, 193, 0.9), rgba(214, 188, 193, 0.3) ), url("../images/4881.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  margin-top: 0;
  max-width: 100%;
  width: 100%;
}

#finalDesign h2 {
  padding-top: 60px;
  padding-left: 200px;
  color: #F2F2F2;
}

/*body*/

.container {
  padding: 30px 30px 30px 100px;
}

h3 {
  margin-top: 70px;
}

.center {
  text-align: center;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33.33%;
}

.comp_descript {
  width: 100%;
}

.description_text {
  font-size: 1.5rem;
}

.project_description {
  padding: 0 200px;
}

.project_description h3 {
  line-height: 1.5;
}

.design_role {
  margin-top: 10px;
  margin-bottom: 75px;
  /* padding: 0 120px; */
}

.design_role ul {;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.design_role p {
  margin-top: 0;
  margin-bottom: 2px;
  padding: 0;
}

.design_role h3 {
  text-align: center;
}

.bold_italic {
  font-weight: 600;
  font-style: italic;
}

/*Slider*/

.slider {
  background: #f9f9f9;
  color: #000;
  height: auto;
  width: 100%;
}

.slider h2 {
  color: #000;
  margin-top: 0;
  padding: 30px 0 20px 0;
}

.left-column {
  padding-right: 20px;
}

.right-column {
  padding-right: 30px;
  padding-left: 20px;
}

.overview h3 {
  padding-top: 15px;
}

.overview .right-column {
  padding-right: 0;
}


/*Discovery*/

#discovery h2 {
  color: #F2F2F2;
  margin-top: 0;
  padding-top: 100px;
  padding-left: 200px;
}

.competitionIcon {
  height: 65px;
  object-fit: contain;
  margin-right: 10px;
  padding-right: 10px;
  width: 75px;
}

.mobile_graphs p {
  margin-top: 20px;
}

canvas {
  height: 400px !important;
  width: 400px !important;
  margin-right: auto;
  margin-left: auto;
}

.chart-legend {
  font-size: 1rem;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.mobile_graphs h4 {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

/*Personas*/
.text-center {
  text-align: center;
}

.persona1 {
  margin-top: 25px;
  padding-right: 0;
}

.persona1 img, .persona2 img, .persona3 img {
  margin: 20px auto;
  display: block;
  width: 100%;
  max-width: 250px;
}

.persona1 li, .persona2 li, .persona3 li {
  font-size: 1rem;
  line-height: 150%;
}

.persona1 h3, .persona2 h3, .persona3 h3 {
  color: #000;
  font-weight: 400;
  padding-top: 25px;
  margin-top: 0;
}

.persona1 div, .persona2 div, .persona3 div {
  display: inline-block;
  text-align: left;
}

.motivation h3 {
  padding-top: 0;
}

.demographic {
  max-width: 40%;
}

.persona-info {
  max-width: 60%;
  padding-right: 0;
  padding-left: 50px;
}

.wrap {
  margin: 0px;
}

.inline {
  display: inline-block;
}

.goals {
  height: auto;
  margin-top: 75px;
  margin-bottom: 0;
}

/*User Stories*/

#information h2, #branding h2 {
  padding: 50px 0 0 200px;
  color: #F2F2F2;
}

.bullet {
  background-color: #3BA09E;
  border-radius: 50%;
  display: block;
  height: 20px;
  width: 20px;
}

.bullet-listing {
  margin-top: 5px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  height: auto;
  width: auto;
}

.vertical-line {
  background-color: #3BA09E;
  height: 27px;
  margin: 0 auto;
  width: 2px;
}

.userstories li {
  line-height: 1.7;
}

/*User Flows*/
.flow img {
  height: 600px;
  object-fit: contain;
  width: 400px;
}

/*Sketches and Wireframes*/
.sketch_wires img {
  object-fit: contain;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.home, .landing, .account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.forty-five {
  width: 45%;
  padding: 50px;
}

/*Branding*/

.black_h3 {
  color: #000;
  margin-top: 0;
  font-style: italic;
}

.logo_sequence div {
  background-color: #3BA09E;
  bottom: 100px;
  height: 2px;
  left: 260px;
  margin: 0 auto;
  position: absolute;
  width: 125px;
}

.moodboard-container {
  max-width: 100%;
}

.moodboardSlides {
  margin: 25px auto 50px auto;
  width: 75%;
}

/*Typography*/

.mobile_typography {
  display: none;
}

.tablet_typography {
  display: none;
}

/* .typography {
  margin-top: 50px;
} */

.article_content {
  background-color: #F9F9F9;
  width: 50%;
}

.color_row {
  height: auto;
  margin-left: 20px;
}

.color_circle {
  border-radius: 50%;
  height: 80px;
  margin-right: 5px;
  width: 80px;
}

.color_circle p {
  font-size: .75rem;
  padding-top: 30px;
  text-align: center;
}

.color_row1 {
  margin-bottom: 10px;
}

.article {
  float: left;
  height: auto;
  padding-left: 30px;
  margin-bottom: 0;
  width: 50%;
}

/*User Testing*/

.mobile_preference {
  display: none;
}

.preference-tests p {
  padding-right: 50px;
}

.preference_line {
  background: #DB9BAC;
  height: 1px;
  margin: 30px 0 30px 0;
  width: 100%;
}

.preferencerow1 img, .preferencerow2 img, .preferencerow3 img {
  height: 275px;
  margin-right: 60px;
  object-fit: cover;
  width: 275px;
}

.preferencerow1, .preferencerow2, .preference-results, .preferencerow3, .mock1, .mock2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.mobile_closeups {
  display: none;
}

.mvpFont {
  font-size: 1.8rem;
  font-style: italic;
}

.semibold_italic {
  font-weight: 500;
}

.mobile_prototypes {
  display: none;
}

.protoslider {
  background: #F9F9F9;
  color: #000;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}

.protoslider p {
  padding-top: 25px;
}

.web_viewbtn {
  margin-left: 200px;
}

.mobile_viewbtn {
  margin-left: 200px;
}

#conclusion {
  font-size: 1.5rem;
  text-align: center;
}


/*Media Queries*/

/*Phone*/

@media screen and (min-width: 320px) and (max-width: 375px) {
  .color_circle {
    height: 65px;
    width: 65px;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .color_circle {
    height: 90px;
    width: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .project-title-container {
    padding-top: 100px;
  }

  h4 {
    margin-top: 20px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mobile_graphs h4 {
    font-size: 1rem;
  }

  .one-third h4 {
    margin-top: 10px;
  }

  .container {
    padding: 10px 25px;
  }

  .article {
    padding-left: 0;
  }

  .button {
    display: block;
    margin: 20px auto;
    width: 100%;
  }

  .design_role {
    margin-bottom: 50px;
    padding: 0;
  }

  .project_description {
    margin-bottom: 0;
    padding-left: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
  }

  .hero_image {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
  }

  .project_description h3 {
    margin-top: 20px;
    font-size: 1.25rem;
  }

  .project_description {
    padding: 0 25px;
    text-align: center;
  }

  #discovery, #information, #branding, #finalDesign {
    height: 100px;
    margin-bottom: 0;
  }

  #discovery h2, #information h2, #branding h2, #finalDesign h2 {
    padding-left: 25px;
  }

  #information h2, #finalDesign h2 {
    padding-top: 10px;
  }

  .one-half {
    width: 100%;
  }

  .one-third {
    width: 100%;
  }

  .hero_web, .hero_mobile {
    display: none;
  }

  .overview h3 {
    padding-top: 0;
  }

  .design_role h3 {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 150px;
  }

  #branding h2 {
    margin: 0;
  }

  .right-column {
    padding-left: 0;
  }

  p {
    margin: 10px 0;
  }

  .footer-copy p {
    margin: 10px;
  }

  #discovery h2 {
    padding-top: 35px;
  }

  .competitionIcon {
    margin-top: 0;
    width: 85px;
  }

  .comp_descript {
    width: 100%;
  }

  .mobile_graphs p {
    margin-bottom: 20px;
    width: 100%;
  }

  .persona2 img {
    margin-top: 30px;
  }

  .persona1 li, .persona2 li {
    font-size: 1.025rem;
  }

  .demographic {
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }

  .demographic ul {
    text-align: center;
  }

  .persona-info {
    max-width: 100%;
    padding-left: 0;
  }

  .motivation h3 {
    padding-top: 25px;
  }

  .goals {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wrapper {
    display: none;
  }

  .userstories li {
    font-size: 0.9rem;
    line-height: 175%;
    margin-right: 0;
    padding-left: 15px;
  }

  .flow img {
    height: 300px;
    margin-left: 0;
    margin-bottom: 10px;
    object-fit: contain;
    width: 100%;
  }

  .forty-five {
    width: 100%;
    padding: 0;
  }

  .home, .landing, .account {
    display: block;
    margin-top: 0;
  }

  .sketch_wires img {
    display: block;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
    object-fit: contain;
    padding: 0;
    width: 250px;
  }

  .logo_sequence {
    margin: 0 auto;
    display: block;
    width: 200px;
  }

  .logo_sequence div {
    display: none;
  }

  /*Typography*/

  .article_content {
    height: auto;
    padding-bottom: 40px;
    width: 100%;
  }

  .color_row {
    margin-left: 0;
  }

  .color_circle {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-right: 5px;
  }

  .circle-text:after {
      content: "";
      display: block;
      width: 100%;
      height:0;
      padding-bottom: 100%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
  .circle-text p {
      float:left;
      width:100%;
      padding-top:50%;
      line-height:1em;
      margin-top:-0.5em;
      text-align:center;
  }

  .color_circle p {
    font-size: 0.825rem;
  }

  .typography {
    display: none;
  }

  .mobile_typography {
    display: block;
  }

  .article {
    height: auto;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .mobile_preference {
    display: block;
  }

  .preference-tests {
    display: none;
  }

  blockquote {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .mock1, .mock2 {
    display: block;
  }

  .mock1 img, .mock2 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    object-fit: contain;
    width: 250px;
  }

  .mvpFont {
    font-size: 1.15rem;
  }

  .closeups {
    display: none;
  }

  .mobile_closeups {
    display: block;
  }

  .mobile_prototypes {
    display: block;
  }

  .laptop_prototypes {
    display: none;
  }

  .web_viewbtn, .mobile_viewbtn {
    position: static;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .footer-icons {
    padding-right: 0;
  }

  .footer-copy {
    width: 50%;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .container {
    padding: 25px 75px;
  }

  h2 {
    padding-left: 25px;
  }

  #discovery, #information, #branding, #finalDesign {
    height: 200px;
    margin-bottom: 0;
  }

  #discovery h2, #information h2, #branding h2, #finalDesign h2 {
    padding-left: 75px;
  }

  .hero_image {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 75%;
  }

  .project_description {
    padding: 0 75px;
  }

  .design_role h3 {
    text-align: center;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .persona1 {
    padding: 0;
  }

  .persona1 li, .persona2 li {
    font-size: 1.125rem;
    line-height: 150%;
  }

  .persona2 {
    padding-right: 0;
  }

  .sketch_wires img {
    width: 250px;
  }

  .sketch_wires .bullet {
    height: 15px;
    width: 15px;
  }

  .typography {
    display: none;
  }

  .tablet_typography {
    display: block;
    margin-top: 25px;
  }

  .color_row {
    margin-left: 0;
    margin-right: 5px;
  }

  .circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .circle-text p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
  }

  .color_circle p {
    font-size: 0.825rem;
  }

  .support3 {
    margin-bottom: 25px;
  }

  .article {
    height: auto;
    float: right;
    width: 95%;
    padding: 0 20px;
    margin: 0;
  }

  .tests_intro {
    padding: 0 75px;
  }

  .tests_intro h3 {
    margin-top: 0;
  }

  .laptop_prototypes {
    padding: 0 75px;
  }

  .flow img {
    height: auto;
    margin-left: 100px;
  }

  #nextButton {
    padding-left: 160px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    padding: 25px 200px;
  }

  .hero_image {
    height: auto;
    margin: 0 auto;
    width: 100%;
  }

  .design_role h3 {
    text-align: center;
  }

  h3 {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 50px 200px;
  }

  .hero_image {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 75%;
  }

  .project_description h3 {
    margin-top: 0;
    text-align: center;
  }

  .project_description .button {
    margin: 0 auto;
    display: block;
  }

  div.slider {
    margin-bottom: 0;
  }

  .project_title {
    left: 20%;
  }

  .color_circle {
    height: 150px;
    width: 150px;
  }

  .color_circle p {
    padding-top: 65px;
  }

  .persona1 div, .persona2 div, .persona3 div {
    margin-bottom: 15px;
  }



}
