body, html {
  overflow-x: hidden;
}

/*Navigation Bar*/

nav.greyNavItem, nav.greyNavItem a {
  color: #000;
}

.whiteNavItem, .whiteNavItem a {
  color: #FFF;
}

.whiteNavItem:hover, .whiteNavItem a:hover {
  color: #000;
}

/*Intro*/
.project-title-container{
  position: relative;
}

.project_title {
  color: #FFF;
  left: 150px;
  position: absolute;
  text-align: center;
  top: 50px;
  z-index: 1;
}

.hero {
  height: 350px;
  margin: 0;
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 10%;
  width: 100%;
  z-index: -1;
}

.hero_web {
  height: 500px;
  left: 60%;
  object-fit: contain;
  position: absolute;
  top: 50px;
  width: 500px;
  z-index: 1;
}

.hero_mobile {
  height: 300px;
  left: 80%;
  object-fit: contain;
  position: absolute;
  top: 250px;
  width: 250px;
  z-index: 3;
}

/*body*/

.container {
  padding: 30px 30px 30px 100px;
}

.column {
  float: left;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33.33%;
}

.comp_descript {
  width: 100%;
}

.description_text {
  font-size: 1.7rem;
}

.project_description {
  margin-bottom: 25px;
  margin-top: 20px;
  padding-left: 50px;
}

.project_description h3 {
  line-height: 150%;
}

.design_role {
  margin-top: 10px;
  margin-bottom: 75px;
}

.design_role ul {;
  line-height: 140%;
  margin: 0;
  padding: 0;
}

.design_role p {
  margin-top: 0;
  margin-bottom: 2px;
  padding: 0;
}

.design_role h3 {
  text-align: center;
}

.bold_italic {
  font-weight: 600;
  font-style: italic;
}

/*Slider*/

.slider {
  background: #3BA09E;
  color: white;
  height: auto;
  margin-bottom: 50px;
  width: 100%;
}

.slider h2 {
  margin-top: 0;
  padding-top: 30px;
}

.left-column {
  padding-right: 20px;
}

.right-column {
  padding-right: 10px;
  padding-left: 20px;
}


/*Discovery*/

#discovery h2 {
  color: #F2F2F2;
  padding-top: 70px;
}

.competitionIcon {
  height: 75px;
  object-fit: cover;
  margin-right: 10px;
  padding-right: 10px;
  width: 85px;
}

.polygon {
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 5px solid #FADE39;
  height: 0;
  margin: 20px 0;
  width: 100%;
}

.consistency {
  margin: 50px 250px 50px 250px;
}

.mobile_graphs p {
  margin-top: 20px;
}

canvas {
  height: 600px !important;
  width: 600px !important;
  margin-right: auto;
  margin-left: auto;
}

#graph1, #graph2 {
  margin-top: 40px;
}

/*Personas*/
.text-center {
  text-align: center;
}

.persona1 img, .persona2 img {
  margin: 20px auto;
  display: block;
  width: 100%;
  max-width: 250px;
}

.persona1 li, .persona2 li {
  font-size: 1.25rem;
  line-height: 150%;
}

.persona1 h3, .persona2 h3 {
  color: #000;
  font-weight: 400;
  padding-top: 25px;
}

.wrap {
  margin: 0px;
}

.inline {
  display: inline-block;
}

.goals {
  height: auto;
  margin-top: 75px;
  margin-bottom: 0;
}

.goals_content {
  color: #FFF;
}

/*User Stories*/

#information h2 {
  padding-top: 18px;
}

.bullet {
  background-color: #3BA09E;
  border-radius: 50%;
  display: block;
  height: 20px;
  width: 20px;
}

.bullet-listing {
  margin-top: 5px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  height: auto;
  width: auto;
}

.vertical-line {
  background-color: #3BA09E;
  height: 27px;
  margin: 0 auto;
  width: 2px;
}

.userstories li {
  font-size: 1.7rem;
  line-height: 170%;
}

/*User Flows*/
.flow img {
  height: 600px;
  margin-left: 100px;
  object-fit: contain;
  width: 400px;
}

/*Sketches and Wireframes*/
.sketch_wires img {
  object-fit: contain;
  width: 450px;
}

.sketch_wires .bullet {
  height: 30px;
  width: 30px;
}

.sketch_wires .bullet-listing {
  margin-top: 250px;
}

.sketch_wires .vertical-line {
  height: 450px;
}

#wireframes {
  margin: 0 auto;
}

.forty-five {
  width: 45%;
}

/*Branding*/


.white_h3 {
  color: #FFF;
  margin-top: 0;
}

.black_h3 {
  color: #000;
  margin-top: 0;
  font-style: italic;
}


.logo_sequence {
  margin-left: 100px;
  position: relative;
}

.logo_sequence div {
  background-color: #3BA09E;
  bottom: 100px;
  height: 2px;
  left: 260px;
  margin: 0 auto;
  position: absolute;
  width: 125px;
}

.moodboard-container {
  max-width: 100%;
}

.moodboardSlides {
  margin: 25px auto 50px auto;
  width: 75%;
}

/*Typography*/

.mobile_typography {
  display: none;
}

.tablet_typography {
  display: none;
}

.typography {
  margin-top: 50px;
}

.article_content {
  background-color: #F2F2F2;
  width: 45%;
}

.color_row {
  height: auto;
  margin-left: 20px;
}

.color_circle {
  border-radius: 50%;
  height: 100px;
  margin-right: 50px;
  width: 100px;
}

.color_circle p {
  font-size: 1rem;
  padding-top: 37px;
  text-align: center;
}

.color_row1 {
  margin-bottom: 10px;
}

.article {
  float: right;
  height: auto;
  padding: 30px;
  margin-bottom: 0;
  width: 50%;
}

/*User Testing*/

.mobile_preference {
  display: none;
}

.preference-tests p {
  padding-right: 50px;
}

.preference_line {
  background: rgba(70, 190, 188, 0.5);
  height: 1px;
  margin: 30px 0 30px 0;
  width: 100%;
}

.preferencerow1 img, .preferencerow2 img, .preferencerow3 img {
  height: 275px;
  margin-right: 60px;
  object-fit: cover;
  width: 275px;
}

.preferencerow1, .preferencerow2, .preference-results, .preferencerow3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote {
  margin-top: 0;
  text-align: center;
  width: 50%;
}

blockquote p {
  margin-top: 0;
}

.mockups .bullet {
  height: 20px;
  width: 20px;
}

.mobile_closeups {
  display: none;
}

.mvpFont {
  font-size: 1.8rem;
  font-style: italic;
}

.semibold_italic {
  font-weight: 500;
}

.mobile_prototypes {
  display: none;
}

.protoslider {
  background: #3BA09E;
  color: #FFF;
  height: auto;
  width: 100%;
  margin-bottom: 50px;
}

.protoslider p {
  margin-top: 0px;
}

.web_viewbtn {
  margin-left: 200px;
}

.mobile_viewbtn {
  margin-left: 160px;
}

#conclusion {
  font-size: 1.5rem;
  text-align: center;
}

.last_polygon {
  border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 5px solid #FADE39;
  height: 0;
  margin: 25px 0;
  width: 100%;
}

#prevButton a {
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 5px 10px 10px 5px;
  background: #46BEBC;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

#prevButton a:before, #prevButton a:after {
  content: '';
  position: absolute;
  left: -15px;
  width: 32px;
  height: 15px;
  border-radius: 5px;
  background: #46BEBC;
}
#prevButton a:before {
  top: 9px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#prevButton a:after {
  bottom: 9px;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

#nextButton a {
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 10px 5px 5px 10px;
  background: #46BEBC;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

#nextButton a:before, #nextButton a:after {
  content: '';
  position: absolute;
  right: -15px;
  width: 32px;
  height: 15px;
  border-radius: 5px;
  background: #46BEBC;
}

#nextButton a:before {
  top: 9px;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

#nextButton a:after {
  bottom: 9px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#prevButton a:hover, #nextButton a:hover {
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;
}

#nextButton {
  padding-left: 30%;
}

.prevNext {
  margin-top: 75px;
  margin-bottom: 75px;
}

/*Media Queries*/

/*Phone*/

@media screen and (min-width: 320px) and (max-width: 767px) {
  h4 {
    margin-top: 20px;
  }

  .container {
    padding: 10px 25px;
  }

  .button {
    display: block;
    margin: 20px auto;
    width: 100%;
  }

  .menuToggle {
    top: 20px;
  }

  .hero {
    height: 250px;
  }

  .project_title {
    top: 150px;
    left: 30px;
  }

  .design_role {
    margin-bottom: 50px;
  }

  .slider h2 {
    padding-top: 0;
  }

  .project_description {
    margin-bottom: 0;
    padding-left: 20px;
    margin-right: 20px;
  }

  .one-half {
    width: 100%;
  }

  .one-third {
    width: 100%;
  }

  .hero_web, .hero_mobile {
    display: none;
  }

  .design_role h3 {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 150px;
  }

  .slider {
    height: auto;
    margin-bottom: 0;
    padding: 20px 0 10px 0;
  }

  .right-column {
    padding-left: 0;
  }

  p {
    margin: 10px 0;
  }

  .white_horizontal_line {
    margin: 10px 0 0 50px;
    width: 25%;
  }

  #discovery h2 {
    padding-top: 25px;
  }

  .competitionIcon {
    margin-top: 0;
    width: 85px;
  }

  .comp_descript {
    width: 100%;
  }

  .consistency {
    margin: 0 0 40px 0;
  }

  canvas {
    height: 250px !important;
    width: 250px !important;
  }

  #graph1, #graph2 {
    margin-bottom: 40px;
  }

  .mobile_graphs p {
    margin-bottom: 20px;
    width: 100%;
  }

  .persona2 img {
    margin-top: 30px;
  }

  .persona1 li, .persona2 li {
    font-size: 1.025rem;
  }

  .goals {
    height: auto;
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wrapper {
    display: none;
  }

  .userstories li {
    font-size: 0.9rem;
    line-height: 175%;
    margin-right: 0;
    padding-left: 15px;
  }

  .flow img {
    height: 300px;
    margin-left: 0;
    margin-bottom: 10px;
    object-fit: contain;
    width: 100%;
  }

  .forty-five {
    width: 100%;
  }

  .sketch_wires .bullet-listing {
    display: none;
  }

  .sketch_wires img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    object-fit: contain;
    padding: 0;
    width: 250px;
  }

  .wirecontent {
    height: auto;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo_sequence {
    margin: 0 auto;
    display: block;
    width: 200px;
  }

  .logo_sequence div {
    display: none;
  }

  /*Typography*/

  .article_content {
    height: auto;
    padding-bottom: 40px;
    width: 100%;
  }

  .font_poiret {
    margin-top: 0;
  }

  .color_row {
    margin-left: 0;
  }

  .color_circle {
    width: 50%;
    height: 0;
    margin-right: 0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }

  .circle-text {
    width: 50%;
  }

  .circle-text:after {
      content: "";
      display: block;
      width: 100%;
      height:0;
      padding-bottom: 100%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
  .circle-text p {
      float:left;
      width:100%;
      padding-top:50%;
      line-height:1em;
      margin-top:-0.5em;
      text-align:center;
  }

  .color_circle p {
    font-size: 0.825rem;
  }

  .typography {
    display: none;
  }

  .mobile_typography {
    display: block;
  }

  .article {
    height: auto;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .mobile_preference {
    display: block;
  }

  .preference-tests {
    display: none;
  }

  blockquote {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  .mockups .bullet-listing {
    display: none;
  }

  .mockups img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 250px;
  }

  .mvpFont {
    font-size: 1.15rem;
  }

  .closeups {
    display: none;
  }

  .mobile_closeups {
    display: block;
  }

  .mobile_prototypes {
    display: block;
  }

  .laptop_prototypes {
    display: none;
  }

  .web_viewbtn, .mobile_viewbtn {
    position: static;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  #prevButton, #nextButton {
    width: 50%;
  }

  #nextButton {
    padding-left: 35px;
  }

  #prevButton a, #nextButton a{
    width: 100px;
  }

  .polygon, .last_polygon {
    border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-bottom: 5px solid #FADE39;
    display: block;
    height: 0;
    margin: 0 auto;
    width: 100%;
  }

  .footer-icons {
    padding-right: 0;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .container {
    padding: 25px 35px;
  }

  /* .slider {
    padding: 20px 0;
  } */

  .hero {
    height: 250px;
    object-position: 50% 0%;
  }

  .hero_web {
    height: 300px;
    left: 450px;
    top: 140px;
    width: 300px;
  }

  .hero_mobile {
    height: 200px;
    left: 620px;
    top: 250px;
    width: 150px;
  }

  .design_role h3 {
    text-align: center;
  }

  .polygon {
  	border-left: 125px solid transparent;
  	border-right: 125px solid transparent;
  	border-bottom: 3px solid #FADE39;
    height: 0;
    width: 100%;
  }

  .persona1 li, .persona2 li {
    font-size: 1.125rem;
    line-height: 150%;
  }

  canvas {
    height: 400px !important;
    width: 400px !important;
  }

  .sketch_wires img {
    width: 100%;
  }

  .sketch_wires .bullet {
    height: 15px;
    width: 15px;
  }

  .typography {
    display: none;
  }

  .tablet_typography {
    display: block;
    margin-top: 50px;
  }

  .tablet_typography aside {
    width: 50%;
  }

  .color_row {
    margin-left: 0;
  }

    .color_circle {
      width: 50%;
      height: 0;
      margin-right: 0;
      padding-bottom: 50%;
      -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .circle-text {
      width: 50%;
    }

    .circle-text:after {
        content: "";
        display: block;
        width: 100%;
        height:0;
        padding-bottom: 100%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .circle-text p {
        float:left;
        width:100%;
        padding-top:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        /* color:white; */
    }

    .color_circle p {
      font-size: 0.825rem;
    }

    .article {
      height: auto;
      float: right;
      width: 95%;
      padding: 20px;
      margin: 0;
    }

    #nextButton {
      padding-left: 155px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    padding: 25px 60px;
  }

  .hero {
    height: 300px;
    object-position: 50% 10%;
  }

  .design_role h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 50px 200px;
  }

  .design_role {
    padding: 30px 50px;
  }

  .project_description {
    padding: 50px 145px;
  }

  .white_horizontal_line {
    margin: 10px 0 0 200px;
  }

  .horizontal_line {
    margin: 10px 0 15px 200px;
  }

}
